.box {
  margin-top: 14px;
  width: 420px;
  color: #9d9d9d;
  position: relative;
  input[type='text'],
  textarea {
    font-size: 14px;
    border: 1px solid #d1d1d1;
    box-sizing: border-box;
    border-radius: 6px;
    resize: none;
    outline: none;
    padding: 18px 11px 6px 11px;
    width: 100%;
    height: 100%;
    color: #787878;
    z-index: 2;
    background-color: transparent;
    &:focus + label,
    &:active + label,
    &.with-value + label {
      font-size: 12px;
      line-height: 16px;
      top: 4px;
    }
    &.invalid {
      border-color: red;
    }
  }
  label {
    background-color: #fff;
    font-size: 14px;
    position: absolute;
    left: 11px;
    top: 10px;
    opacity: 0.99;
    transition: all 0.25s ease;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
  }
}

.file-box {
  margin-top: 14px;
  width: 420px;
  height: 80px;
  cursor: pointer;
  border-radius: 6px;
  box-sizing: border-box;
  text-align: center;
  border: 1px dashed #d1d1d1;
  position: relative;
  color: #9d9d9d;
  input {
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
  }
  label {
    font-size: 14px;
    position: relative;
    top: -52px;
    z-index: -1;
  }
}

.file-info {
  margin-top: 16px;
  margin-bottom: 20px;
  display: flex;
  font-size: 12px;
  line-height: 16px;
  color: #454545;
  img {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
  .message {
    margin-left: 10px;
    color: #fe5101;
  }
}
