<div [ngSwitch]="isTextarea" [class]="isFile ? 'file-box' : 'box'">
  <input
    *ngSwitchDefault
    placeholder=" "
    name="{{ name }}"
    [type]="type ? type : 'text'"
    [class]="val?.valid ? (value ? 'with-value' : '') : 'invalid'"
    [formControl]="control"
    [required]="required"
    (input)="handleInput($event)"
  />
  <textarea
    *ngSwitchCase="true"
    placeholder=" "
    name="comment"
    rows="3"
    [class]="value && 'with-value'"
  ></textarea>
  <label for="{{ name }}"> {{ label }}{{ required ? ' *' : null }} </label>
</div>

<div *ngIf="isFile && value" class="file-info">
  <img src="../../assets/images/paper.svg" alt="papers" />
  <span>{{ value }}</span>
  <span *ngIf="message" class="message">{{ message }}</span>
</div>
