<form>
  <h2 class="form-title">{{ title }}</h2>

  <app-input
    [label]="'Наименование'"
    [name]="'orgname'"
    [required]="true"
    [control]="orgnameControl"
    [values]="values"
  ></app-input>

  <app-input
    [label]="'ИНН'"
    [name]="'inn'"
    [required]="true"
    [control]="innControl"
    [values]="values"
  ></app-input>

  <app-input
    [label]="'ФИО'"
    [name]="'name'"
    [required]="true"
    [control]="nameControl"
    [values]="values"
  ></app-input>

  <app-input
    [label]="'Должность'"
    [name]="'pos'"
    [required]="true"
    [control]="posControl"
    [values]="values"
  ></app-input>

  <app-input
    [label]="'Телефон'"
    [name]="'num'"
    [required]="true"
    [control]="numControl"
    [values]="values"
  ></app-input>

  <app-input
    [label]="'E-mail'"
    [name]="'email'"
    [required]="true"
    [control]="emailControl"
    [values]="values"
  ></app-input>

  <app-select
    [items]="activities"
    [name]="'foa'"
    [control]="foaControl"
    [values]="values"
  ></app-select>

  <app-input
    [label]="'Прикрепить файл'"
    [type]="'file'"
    [name]="'file'"
    [control]="fileControl"
    [values]="values"
  ></app-input>

  <app-input
    [label]="'Комментарий'"
    [type]="'textarea'"
    [name]="'comment'"
    [control]="commentControl"
    [values]="values"
  ></app-input>

  <button (click)="sendForm()" class="button">Отправить</button>
</form>
