.form-title {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.button {
  margin-top: 10px;
  width: 200px;
  height: 42px;
  background-color: #000;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease;
  &:active {
    transform: scale(0.97);
  }
}
