.box {
  width: 420px;
  margin-top: 14px;
  position: relative;
}

select {
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 6px;
  resize: none;
  outline: none;
  padding: 11px 11px 13px 11px;
  width: 100%;
  height: 100%;
  color: #787878;
  z-index: 2;
  background-color: transparent;
}

option {
  font-size: 14px;
}
